extends layout

block content
  .w3-container.w3-margin.w3-border
    .w3-container.w3-blue
      h1 Área Protegida
    .w3-container
      p Olá #{utilizador.name} chegaste à área protegida pela autenticação!!!... 
      ul.w3-ul 
        li
          a(href="/logout") Logout
        li
          a(href="/") Homepage
