extends layout

block content
  .w3-container.w3-margin.w3-border
    .w3-container.w3-blue
        h3 Registo de novo utilizador:
    form.w3-container(action='/users/registo' method='POST')
        label Username:
        input.w3-input(type="text" name="username")
        label email:
        input.w3-input(type="text" name="email")
        label birthdate:
        input.w3-input(type="date" name="birthdate")
        label Male:
        input.w3-radio(type="radio" name="gender" value=0)
        label Female:
        input.w3-radio(type="radio" name="gender" value=1)
        label savings:
        input.w3-input(type="number" name="savings")
        label Password:
        input.w3-input(type="password" name="password")
        input.w3-btn.w3-blue(type="submit" value="Enviar")

